// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 1.0;

// Darker color
$darker: 'false';

// Theme color type : default/nord/blackness
$color_type: 'default';

// Windows outline style
$rimless: 'false';

// Windows outline style
$sidebar: 'styled'; // styled/normal

// Gnome-Shell version
$shell_version: '42';

// Gnome-Shell float panel version
$float: 'false';

// Gnome-Shell colorful panel version
$colorful: 'false';
