// transparent opacity
$opacity: 'default';

// Theme primary color
$theme: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 1.0;

// Nord color version
$nord: 'false';
