*-temp.scss

src/main/cinnamon/cinnamon-dark.css
src/main/cinnamon/cinnamon-light.css
src/main/cinnamon/cinnamon.css
src/main/gtk-3.0/gtk-dark.css
src/main/gtk-3.0/gtk-light.css
src/main/gtk-3.0/gtk.css
src/main/gtk-4.0/gtk-dark.css
src/main/gtk-4.0/gtk-light.css
src/main/gtk-4.0/gtk.css
src/main/gnome-shell/gnome-shell-dark.css
src/main/gnome-shell/gnome-shell-light.css
src/main/gnome-shell/gnome-shell.css
