$variant: 'light';
$topbar: 'dark';
$compact: 'false';
$theme: 'default';

@import '../../sass/colors';
@import '../../sass/variables';
@import '../../sass/cinnamon/drawing';
@import '../../sass/cinnamon/common';
