/* Slider */

$slide_color: if($variant == 'dark' and $theme == 'grey', white, $primary);
$slide_active_color: if($variant == 'dark' and $theme == 'grey', rgba(white, 0.85), $primary);
$slide_size: if($compact == 'false', 7px, 6px);

.slider {
  color: $slide_color;

  -slider-handle-radius: $slide_size;

  // barlevels are for >= 3.29.90
  -barlevel-height: 2px;
  -barlevel-background-color: $track;
  -barlevel-active-background-color: $slide_active_color;
  -barlevel-overdrive-color: $destructive;
  -barlevel-overdrive-separator-width: 2px;

  &:hover {
    color: lighten($slide_color, 7%);
  }
}
