/* Check Boxes */

.check-box {
  StBoxLayout { spacing: .8em; }
  StBin {
    width: 24px;
    height: 24px;
    padding: $base_padding / 2;
    border-radius: $base_radius;
  }
  &, &:focus StBin {
    background-image: url("assets/checkbox-off.svg");
  }
  &:checked StBin, &:focus:checked StBin {
    @if $theme == 'default' {
      background-image: url("assets/checkbox#{$asset_suffix}.svg");
    }
    @else {
      background-image: url("assets/checkbox.svg");
    }
  }
}
