/* Top Bar */
// a.k.a. the panel

#panel {
  background-color: $panel;
  font-weight: bold;
  height: $item_size;
  color: $panel-text-secondary;
  font-feature-settings: "tnum";
  transition-duration: 250ms;
  @include fontsize($font_size - 1);

  // the rounded outset corners
  .panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: $panel;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent;
    -panel-corner-opacity: 1;
    transition-duration: 250ms;
  }

  // panel menus
  .panel-button {
    -natural-hpadding: $base_padding * 2;
    -minimum-hpadding: $base_padding * 2;
    font-weight: bold;
    color: $panel-text-secondary;
    transition-duration: 150ms;
    border-radius: $circular_radius;
    text-shadow: none;
    border: 2px solid transparent;

    &.clock-display {
      -natural-hpadding: 0;
      -minimum-hpadding: 0;
      border: none;

      .clock-display-box {
        spacing: $base_padding / 2;
      }

      .clock {
        transition-duration: 150ms;
        border: 2px solid transparent;
        border-radius: $circular_radius;
        padding-left: $base_padding * 2;
        padding-right: $base_padding * 2;
      }
    }

    &:hover {
      color: $panel-text;
      background-color: transparent;
      box-shadow: inset 0 0 0 1000px overlay($panel, hover);

      &.clock-display {
        box-shadow: none;
        color: $panel-text-secondary;

        .clock {
          color: $panel-text;
          box-shadow: inset 0 0 0 1000px overlay($panel, hover);
        }
      }
    }

    &:active, &:overview, &:focus, &:checked {
      &, &:hover {
        background-color: transparent;
        color: on($applet-primary);
        box-shadow: inset 0 0 0 1000px $applet-primary;
      }

      .panel-button {
        background-color: transparent;
        color: on($applet-primary);
        box-shadow: inset 0 0 0 1000px $applet-primary;

        &:hover {
          color: on($applet-primary);
          background-color: transparent;
          box-shadow: inset 0 0 0 1000px overlay($applet-primary, hover);
        }

        &:active, &:overview, &:focus, &:checked {
          color: on($applet-primary);
          background-color: transparent;
          box-shadow: inset 0 0 0 1000px overlay($applet-primary, active);
        }
      }

      &.clock-display {
        box-shadow: none;
        color: $panel-text-secondary;

        .clock {
          box-shadow: inset 0 0 0 1000px $applet-primary;
          color: on($applet-primary);
        }
      }
    }

    // status area icons
    .system-status-icon {
      icon-size: $base_icon_size;
      padding: $base_padding;
      margin: 0;
      -st-icon-style: symbolic;
    }

    .appindicator-trayicons-box {
      margin: 0 $base_padding;
    }

    // .panel-status-indicators-box .system-status-icon,
    // .panel-status-menu-box .system-status-icon {
    //   margin: 0;
    // }

    // .panel-status-indicators-box,
    // .panel-status-menu-box {
    //   spacing: $base_padding / 2;
    // }

    // spacing between power icon and (optional) percentage label
    // .power-status.panel-status-indicators-box {
    //   spacing: 0;
    // }

    // app menu icon
    .app-menu-icon {
      -st-icon-style: symbolic;
      // dimensions of the icon are hardcoded
    }

    &#panelActivities {
      -natural-hpadding: $base_padding * 3;
    }
  }

  // Input indicators
  Gjs_status_keyboard_InputSourceIndicator.panel-button, // Ibus
  Gjs_appindicatorsupport_rgcjonas_gmail_com_indicatorStatusIcon_AppIndicatorsIndicatorStatusIcon.panel-button { // Fcitx
    -natural-hpadding: $base_padding * 3 !important;
    -minimum-hpadding: $base_padding * 3 !important;
  }

  // transparent panel on lock & login screens
  &:overview,
  &.unlock-screen,
  &.lock-screen {
    background-color: transparent;
    box-shadow: none;

    StLabel, StIcon { color: on(dark, secondary); }

    .panel-button {
      &:hover {
        color: on(dark);
        background-color: transparent;
        box-shadow: inset 0 0 0 1000px overlay(dark, hover);

        &.clock-display {
          box-shadow: none;
          color: on(dark);

          .clock {
            color: on(dark);
            box-shadow: inset 0 0 0 1000px overlay(dark, hover);
          }
        }
      }

      &:active, &:overview, &:focus, &:checked {
        color: on(dark);
        background-color: transparent;
        box-shadow: inset 0 0 0 1000px overlay(dark, active);

        &.clock-display {
          box-shadow: none;
          color: on(dark);

          .clock {
            box-shadow: inset 0 0 0 1000px overlay(dark, active);
            color: on(dark);
          }
        }
      }
    }

    .panel-corner {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent;
    }
  }

  // indicator for active
  .screencast-indicator,
  .remote-access-indicator { color: $warning; }
}
