
.popup-menu {
  .popup-menu-item {
    padding: $base_padding $base_padding * 2;

    &:ltr { padding-right: $base_padding * 1.5 !important; padding-left: 0 !important; }
    &:rtl { padding-right: 0 !important; padding-left: $base_padding * 1.5 !important; }
  }
}

// separator
.popup-separator-menu-item {
  padding: 0;
  margin: $base_padding / 2 0 !important;

  &:ltr { margin-right: $base_margin !important; }
  &:rtl { margin-left: $base_margin !important; }

  .popup-separator-menu-item-separator {
    height: 1px; //not really the whole box
    background-color: $divider;
  }

  .popup-menu-ornament {
    width: 0 !important;
  }

  .popup-sub-menu & { //submenu separators
    background-color: transparent;

    // account for ornament
    &:ltr { margin-right: 2.5em; }
    &:rtl { margin-left: 2.5em; }

    .popup-separator-menu-item-separator {
      @if $sidebar == 'styled' { background-color: on($primary, divider); }
      @else {
        background-color: $divider;
      }
    }
  }
}

// system status popover menu
.aggregate-menu {
  .popup-sub-menu .popup-menu-item > :first-child {
    &:ltr { padding-left: $base_padding * 2 !important; margin-left: $base_padding / 2 !important; }
    &:rtl { padding-right: $base_padding * 2 !important; margin-right: $base_padding / 2 !important; }
  }
}
