// based css:
// https://github.com/shimmerproject/Greybird/blob/master/gtk-3.0/_xfce.scss

/**************
 * Xfce4 Apps *
 **************/
.XfceHeading {
  background-color: $base;
}


/***************
 * xfce4-panel *
 ***************/

%panel-button {
  @extend %button-flat;
  color: $panel-text-secondary;

  &:focus, &:hover, &:active, &:checked { color: $panel-text; }

  &:disabled { color: $panel-text-secondary-disabled; }

  &:checked {
    &:disabled {
      background-color: transparent;
      color: $panel-text-disabled;
    }
  }
}

.xfce4-panel.background {
  border: none; // Sadly the border is hard-coded
  background-color: $panel;
  color: $panel-text-secondary;
  font-weight: 500;

  button {
    @extend %panel-button;

    min-height: 16px;
    min-width: 16px;
    padding: 0;
    border-radius: 0;
  }

  .tasklist button {
    border-image: image(transparent) 0 0 2 / 0 0 2px;

    &:checked { border-image: image(currentColor) 0 0 2 / 0 0 2px; }

    image { padding: 4px; }
  }

  // &.horizontal .tasklist button { margin: 0 1px; }

  // &.vertical .tasklist button { margin: 1px 0; }
}

// Workspace switcher provided by libwnck
wnck-pager {
  &:hover { background-color: $overlay-hover; }

  &:active { background-color: $overlay-active; }

  &:selected { background-color: $primary; }
}

XfdesktopIconView.view {
  border-radius: $corner-radius;
  background-color: transparent;
  color: on(dark);

  // XfdesktopIconView uses :active instead of :selected for selection
  &:active {
    @extend %selected_items;

    box-shadow: none;
  }

  .rubberband {
    @extend rubberband;

    border-radius: 0;
  }
}

#XfceNotifyWindow {
  buttonbox { padding: 0; }

  label#summary { font-weight: bold; }
}

// Xfwm4's alt-tab dialog, aka "tabwin"
#xfwm-tabwin {
  padding: 12px;
  border-radius: $corner-radius;

  // Set the application icon- and preview-size to 64px
  -XfwmTabwinWidget-icon-size: 64px;
  -XfwmTabwinWidget-preview-size: 64px;
}


/**********
 * Thunar *
 **********/
.thunar {
  #location-toolbar { border-bottom: 1px solid $divider; }

  .standard-view.frame { border-style: none; }

  .sidebar .view:not(:selected) { background-color: transparent; }

  statusbar {
    margin: 0 -10px;
    padding: 0 4px;
    border-top: 1px solid $divider;
  }

  > grid.horizontal > paned.horizontal > scrolledwindow.frame.sidebar.shortcuts-pane {
    border-top: none;
  }
}

window.background.csd.thunar {
  > grid.horizontal > paned.horizontal > scrolledwindow.frame.sidebar.shortcuts-pane {
    border-bottom-left-radius: $window-radius;

    treeview.view:not(:hover):not(:selected) {
      background-color: transparent;
    }
  }
}
